<a href="/parks">Parks</a>
<a href="/trails">Trails</a>
<% @trails.each do |trail| %>
   <p><h3><%= trail.name %></h3></p>
   <p>Difficulty: <%= trail.difficulty %></p>
   <p>Open: <%= trail.open %></p>
<% end %>
